:root {
	--code-line-height: 1.5rem;
	--code-font-size: 14px;
}

code .token.deleted {
	color: hsl(349, 79%, 64%);
}

code .token.inserted {
	color: hsl(153, 48%, 46%);
}

div[class*='language-'] {
	position: relative;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	background-color: theme('colors.gray.800');
	overflow-x: auto;
	@apply shadow-lg;
}

.prose > div[class*='language-'] {
	max-width: 44rem !important;
}

.tip,
.info,
.note,
.warn,
.danger {
	& div[class*='language-'] {
		background-color: hsla(0, 0%, 100%, 0.04);
		box-shadow: none;
	}
}

.aside div[class*='language-'] {
	background-color: theme('colors.gray.700');
}

li > div[class*='language-'] {
	@apply rounded;
	margin: 1rem -1.5rem 1rem -1.25rem;
}

@media (min-width: 420px) {
	div[class*='language-'] {
		@apply rounded;
	}
	li > div[class*='language-'] {
		margin: 1rem 0 1rem 0;
		@apply rounded;
	}
}

[class*='language-'] code,
[class*='language-'] pre {
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	line-height: var(--code-line-height) !important;
	font-size: var(--code-font-size) !important;
	color: theme('colors.gray.100') !important;
}

[class*='language-'] pre {
	position: relative;
	z-index: 1;
	margin: 0 !important;
	padding: 2rem !important;
	background: 0 0;
	overflow-x: auto;
}

[class*='language-'] code {
	padding: 0 !important;
}

.highlight-lines {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	padding: 2rem 0 !important;
	width: 100%;
	line-height: var(--code-line-height) !important;
	font-family: theme('fontFamily.mono');
	font-size: var(--code-font-size) !important;
	user-select: none;
	overflow: hidden;
}

.aside .highlight-lines .highlighted {
	background-color: hsla(0, 0%, 0%, 0.45);
}

.highlight-lines .highlighted {
	background-color: hsla(0, 0%, 0%, 0.3);
}

div[class*='language-'].line-numbers-mode {
	padding-left: 3.5rem;
}

.line-numbers-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 3;
	border-right: 1px solid hsla(0, 0%, 0%, 0.33);
	padding: 2rem 0;
	width: 3.5rem;
	text-align: center;
	line-height: var(--code-line-height);
	font-family: theme('fontFamily.mono');
	font-size: var(--code-font-size);
	color: theme('colors.gray.400');
}

[class*='language-']:before {
	position: absolute;
	top: 0.6em;
	right: 1em;
	z-index: 2;
	font-size: 0.8rem;
	color: theme('colors.gray.400');
}

[class*='language-'] [class*='language-']:before {
	content: '' !important;
}

[class~='language-html']:before,
[class~='language-markup']:before {
	content: 'html';
}

[class~='language-markdown']:before,
[class~='language-md']:before {
	content: 'md';
}

[class~='language-css']:before {
	content: 'css';
}

[class~='language-sass']:before {
	content: 'sass';
}

[class~='language-scss']:before {
	content: 'scss';
}

[class~='language-less']:before {
	content: 'less';
}

[class~='language-stylus']:before {
	content: 'styl';
}

[class~='language-javascript']:before,
[class~='language-js']:before {
	content: 'js';
}

[class~='language-vue']:before {
	content: 'vue';
}

[class~='language-ts']:before,
[class~='language-typescript']:before {
	content: 'ts';
}

[class~='language-json']:before {
	content: 'json';
}

[class~='language-rb']:before,
[class~='language-ruby']:before {
	content: 'rb';
}

[class~='language-py']:before,
[class~='language-python']:before {
	content: 'py';
}

[class~='language-xml']:before {
	content: 'xml';
}

[class~='language-bash']:before,
[class~='language-sh']:before {
	content: 'sh';
}

[class~='language-php']:before {
	content: 'php';
}

[class~='language-go']:before {
	content: 'go';
}

[class~='language-rust']:before {
	content: 'rust';
}

[class~='language-java']:before {
	content: 'java';
}

[class~='language-c']:before {
	content: 'c';
}

[class~='language-yaml']:before {
	content: 'yaml';
}

[class~='language-dockerfile']:before {
	content: 'dockerfile';
}
.token.block-comment,
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
	color: theme('colors.gray.400');
}
.token.punctuation {
	color: theme('colors.gray.200');
}
.token.attr-name,
.token.deleted,
.token.namespace,
.token.tag {
	color: hsl(358, 65%, 68%);
}
.token.function-name {
	color: hsl(210, 51%, 59%);
}
.token.boolean,
.token.function,
.token.number {
	color: hsl(24, 85%, 61%);
}
.token.class-name,
.token.constant,
.token.property,
.token.symbol {
	color: hsl(41, 92%, 65%);
}
.token.atrule,
.token.builtin,
.token.important,
.token.keyword,
.token.selector {
	color: hsl(299, 34%, 70%);
}
.token.attr-value,
.token.char,
.token.regex,
.token.string,
.token.variable {
	color: hsl(143, 39%, 64%);
}
.token.entity,
.token.operator,
.token.url {
	color: hsl(179, 50%, 60%);
}
.token.bold,
.token.important {
	font-weight: 700;
}
.token.italic {
	font-style: italic;
}
.token.entity {
	cursor: help;
}
.token.inserted {
	color: hsl(140, 90%, 40%);
}
