@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './fonts.css';
@import './code.css';
@import './markdown.css';

/* Manually add tailwind animation keyframes, due to a bug */
@keyframes ping {
	75%,
	100% {
		transform: scale(2);
		opacity: 0;
	}
}

:root {
	/* Remove this if you don't want the smooth scrolling effect */
	scroll-behavior: smooth;
	/* Variables */
	--column: 44rem;
	--gap: 2rem;
	--column-with-gap: calc(var(--column) + var(--gap) + var(--gap));
	--max-column: 72rem;
	--max-column-with-gap: calc(var(--max-column) + var(--gap) + var(--gap));
}

/* Applies a highlight behind text that grows to the height of the text on hover */
.highlight {
	text-decoration: none;
	background-position-y: 30%;
	background-image: linear-gradient(transparent 50%, theme('colors.primary.300') 50%);
	transition: background 100ms ease;
	background-size: 2px;
	background-size: auto 200%;
}

.dark .highlight {
	background-image: linear-gradient(transparent 50%, theme('colors.primary.700') 50%);
}

.highlight:hover {
	background-position-y: 100%;
}

/* Structural classes */
.post__layout {
	width: 100%;
	& > * {
		max-width: var(--column);
		margin-left: auto;
		margin-right: auto;
	}
}

@screen 2xl {
	.post__layout {
		width: 100%;
		& > * {
			max-width: var(--column);
		}
	}
}

.dark .wide,
.wide {
	/* Clamping max width so that the content never touches the side bar, which is about 16rem */
	/* The 36rem is 2x16 + 2x2rem for gap */
	@apply max-w-[clamp(var(--column-with-gap),var(--max-column-with-gap),calc(100vw-36rem))] mx-auto w-full xl:w-max xl:min-w-[var(--column-with-gap)] !important;
}

/* Two column layouts */
.code-panel {
	display: grid;
	grid-template-columns: 1fr var(--gap) 1fr;
	& > *:first-of-type {
		grid-column: 1 / span 3;
	}
	& > *:last-of-type {
		grid-column: 1 / span 3;
	}
}

.two-col {
	display: grid;
	grid-template-columns: 1fr var(--gap) 1fr;
	& > *:first-of-type {
		grid-column: 1 / span 3;
	}
	& > *:last-of-type {
		grid-column: 1 / span 3;
	}
}

@screen 2xl {
	.code-panel {
		display: grid;
		grid-template-columns: 1fr var(--gap) auto;
		& > *:first-of-type {
			grid-column: 1;
		}
		& > *:last-of-type {
			grid-column: 3;
		}
	}

	.two-col {
		display: grid;
		grid-template-columns: 1fr var(--gap) 1fr;
		& > *:first-of-type {
			grid-column: 1;
		}
		& > *:last-of-type {
			grid-column: 3;
		}
	}
}

/* Scroll bar */
.scroll-hide {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	overflow-x: scroll;
}

.scroll-hide::-webkit-scrollbar {
	display: none;
}

html {
	--scrollbar: theme('colors.white');
	--thumb: theme('colors.gray.400');
}

html.dark {
	--scrollbar: theme('colors.gray.900');
	--thumb: theme('colors.gray.700');
}

body::-webkit-scrollbar {
	width: 11px;
}

body {
	scrollbar-width: thin;
	scrollbar-color: var(--thumb) var(--scrollbar);
}

body::-webkit-scrollbar-track {
	background: var(--scrollbar);
}

body::-webkit-scrollbar-corner {
	background: var(--scrollbar);
}

body::-webkit-scrollbar-thumb {
	background-color: var(--thumb);
	border-radius: 6px;
	border: 3px solid var(--scrollbar);
}

/* NProgress */
#nprogress {
	pointer-events: none;
}
#nprogress .bar {
	@apply fixed bg-primary-500 w-full h-[2px] inset-0 z-50;
}
